# ======================
# Maven
# ======================
/target/
!.mvn/wrapper/maven-wrapper.jar

# Ignore build folders (gradle style)
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ======================
# Spring Boot Logs
# ======================
*.log

# ======================
# Java
# ======================
*.class
*.jar
*.war
*.nar
*.ear

# ======================
# IDE: Spring Tool Suite / Eclipse
# ======================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ======================
# IDE: IntelliJ IDEA
# ======================
.idea/
*.iml
*.iws
*.ipr
out/

# ======================
# IDE: VS Code
# ======================
.vscode/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Backup / temp files
# ======================
*.tmp
*.bak
*.swp
*.swo

# ======================
# Misc
# ======================
HELP.md
